/* Light mode styles */
.bg-white {
  background-color: #ffffff; /* Background color white in light mode */
}

.text-black {
  color: #000000; /* Text color black in light mode */
}

/* Dark mode styles */
.dark .bg-black {
  background-color: #000000; /* Background color black in dark mode */
}

.dark .text-white {
  color: #ffffff; /* Text color white in dark mode */
}
